<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">

<head>
    <div th:replace="fragments/header :: header-css"/>


<body th:style="'background-image:url(' + @{/images/mountains.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h3>Course Directory</h3>
    <hr>
    <p class="h4 mb-4">Add Course</p>

    <form action="#" th:action="@{/course/saveCourse}"
          th:object="${course}" method="POST">

        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4" placeholder="Course name">

        <textarea  maxlength="50"  rows="3" type="text" th:field="*{description}"
               class="form-control mb-4 col-4" placeholder="Description"/>
        <label class="col-form-label col-sm-4">Select users you want to add to the course: </label>
        <br>
        <br>
        <br>
        <th:block th:each="user : ${users}">
            <div>
                <input type="checkbox" th:field="*{users}" th:text="${user.firstName + ' ' + user.lastName}"

                       th:value="${user.id}" class="m-2">
            </div>
        </th:block>

<br>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
    <hr>
    <a th:href="@{/course/courseList}">Back to Courses List</a>

</div>

</body>
</html>