<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">

<head>
    <div th:replace="fragments/header :: header-css"/>
<body th:style="'background-image:url(' + @{/images/Books2.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<div class="container">
    <div th:replace="fragments/header :: header"/>
    <h3>User Directory</h3>
    <hr>
    <p class="h4 mb-4">Add User</p>

    <form action="#" th:action="@{/saveUser}"
          th:object="${user}" method="POST">

        <input type="hidden" th:field="*{id}"/>

        <input maxlength="30" type="text" th:field="*{firstName}"
               class="form-control mb-4 col-4" placeholder="First name">

        <input maxlength="30" type="text" th:field="*{lastName}"
               class="form-control mb-4 col-4" placeholder="Last name">

        <input maxlength="50" type="email" th:field="*{email}"
               class="form-control mb-4 col-4" placeholder="Email">


        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
    <hr>
    <a th:href="@{/studentList}">Back to Users List</a>

</div>

</body>
</html>