<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">

<head>
    <div th:replace="fragments/header :: header-css"/>


<body th:style="'background-image:url(' + @{/images/Books2.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h3>Course Directory</h3>
    <hr>
    <p class="h4 mb-4">Add Course</p>

    <form action="#" th:action="@{/course/saveCourse}"
          th:object="${course}" method="POST">

        <input type="hidden" th:field="*{id}"/>

        <input maxlength="50"  type="text" th:field="*{name}"
               class="form-control mb-4 col-4" placeholder="Course name">

        <textarea  maxlength="200"  rows="3" type="text" th:field="*{description}"
                   class="form-control mb-4 col-4" placeholder="Description"/>

        <div class='input-group date col-xs-4' id='datetimepicker1'>
            <input th:field="*{date}" id="dateInput" type='text' class="form-control" placeholder="Start date" required />
            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                </span>
        </div>


        <label class="col-form-label col-sm-4">Select students you want to add to the course: </label>
        <br>
        <br>
        <th:block th:each="user : ${students}">
            <div>
                <input type="checkbox" th:field="*{students}" th:text="${user.firstName + ' ' + user.lastName}"

                       th:value="${user.id}" class="m-2">
            </div>
        </th:block>

        <br>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
    <hr>
    <a style="color: black" th:href="@{/course/courseList}">Back to Courses List</a>

</div>


<script th:inline="javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>



</body>
</html>