
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymleaf.org/thymleaf-extras-springsecurity3">

<head>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body th:style="'background-image:url(' + @{/images/mountains.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<div th:replace="fragments/header :: header"/>

<div class="container">
    <a th:href="@{/course/showFormForAdd}"
       style="margin-top: 25px"
       class="btn btn-primary btn-sm mb-3">
        Add new Course
    </a>
    <table class="table table-boardered table-striped">
        <thead class="thead">
        <tr>
            <th>Course</th>
            <th>Descritpion</th>
            <th>Number of enrolled users</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="tempCourse : ${courses}">
            <td th:text="${tempCourse.name}"/>
            <td th:text="${tempCourse.description}"/>
            <td th:text="${#lists.size(tempCourse.users)}"/>
            <td>


                <a th:href="@{/course/deleteCourse(courseId=${tempCourse.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete?'))) return false">Delete the course</a>
                <a th:href="@{/course/showFormForUpdate(courseId=${tempCourse.id})}" class="btn btn-warning btn-sm">Update the course</a>

<!--                "@{'/course/addUserToCourse/' + ${tempCourse.id}(courseId=${tempCourse.id})}"   class="btn btn-warning btn-sm">Add user to the course</a>-->

<!--                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" th:attr="data-target='#addModal'">Add user to the course</button>-->



                <a th:href="@{'/course/enrolledUsers/' + ${tempCourse.id}}" class="btn btn-primary btn-sm">Show enrolled users</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>





</div>

</body>
</html>