
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymleaf.org/thymleaf-extras-springsecurity3">

<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body th:style="'background-image:url(' + @{../images/Books2.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
    <div th:replace="fragments/header :: header"/>


    <div class="container">
        <h3>Welcome to course management app</h3>
    <div style="margin: 25px">
    <a style="color: black; font-weight: bold"   th:href="@{/course/courseList}">Show courses list</a>
    <br>
    <a style="color: black; font-weight: bold" th:href="@{/userList}">Show students list</a>
    </div>
</div>
</body>
</html>