
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymleaf.org/thymleaf-extras-springsecurity3">

<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body th:style="'background-image:url(' + @{/images/mountains.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
    <div th:replace="fragments/header :: header"/>


    <div class="container">
    <div style="margin: 25px">
    <a   th:href="@{/course/courseList}">Show courses list</a>
    <br>
    <a  th:href="@{/userList}">Show users list</a>
    </div>
</div>
</body>
</html>