
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:sec="http://www.thymleaf.org/thymleaf-extras-springsecurity3">

<head>
<meta charset="utf-8">
	<div th:replace="fragments/header :: header-css"/>
</head>
<div th:replace="fragments/header :: header"/>
<body>



	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="card">
					<div class="card-header">
						<h4>Profile</h4>
					</div>
					<div class="card-body">
						<form>
							<div class="form-group">
								<label><b>First name:</b></label>
								<p>[[${#request.userPrincipal.principal.firstName}]]</p>
							</div>
							<div class="form-group">
								<label ><b>Last name:</b></label>
								<p>[[${#request.userPrincipal.principal.lastName}]]</p>
							</div>
							<div class="form-group">
								<label ><b>Email:</b></label>
								<p sec:authentication="principal.username"></p>
							</div>
							<div class="form-group">
								<label ><b>Access Level:</b></label>
								<p sec:authentication="principal.authorities"></p>
							</div>
							<div class="form-group"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<h3 >[[${#request.userPrincipal.principal.firstName}]] [[${#request.userPrincipal.principal.lastName}]]</h3>
				<img th:src="@{/images/avatar.png}"  class="d-block img-fluid mb-3"/>

			</div>
		</div>
	</div>











</body>
</html>